* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  margin-top: 2rem;
}

form {
  background-color: #1c357c;
  width: 50%;
  margin: 3rem auto;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

form input {
  text-align: center;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  margin-top: 1rem;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.weatherCard {
  width: 45%;
  margin: 1rem auto;
  background-color: #1c357c;
  padding: 0.5rem 3rem 1rem 3rem;
  color: white;
}
.weatherCard button {
  padding: 5px;
  margin: 1rem;
}
