@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #dbdefe;
  font-family: "Nunito", sans-serif;
}

h1 {
  margin-top: 2rem;
}

form {
  background-color: #1b1c49;
  width: 40%;
  margin: 3rem auto;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

form input {
  text-align: center;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

form button {
  background-color: #fed15a;
  margin-top: 1rem;
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
form button:hover {
  background-color: #fed60a;
}

.weatherCard {
  background-color: #1b1c49;
  color: white;
  margin: 3rem auto;
  padding: 2rem 5rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.weatherCard h1 {
  margin-top: 0;
  font-weight: 400;
  text-align: left;
}
.weatherCard h3 {
  text-align: center;
  margin: 1rem;
  margin-bottom: 0;
  font-size: 80px;
  font-weight: 400;
}
.weatherCard p {
  text-align: left;
}
.weatherCard button {
  padding: 5px;
  margin: 1rem;
}

.weatherIcon img {
  width: 150px;
  height: auto;
}

.infoCard button {
  padding: 10px;
  border-radius: 5px;
  border: 0px solid black;
}
.infoCard button:hover {
  background-color: #f56853;
  transition: 0.7s ease;
}
